* {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.dashboardContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.dashboard {
    background-color: #1992d4;
    grid-column: 1/2;
    grid-row: 1/3;
}

.header {
    grid-column: 2/4;
    grid-row: 1/2;
}

.mainContent {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem;
    height: auto;
}

.sidebar {
    grid-column: 3/4;
    grid-row: 2/3;
}

.navigation {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navigation ul {
    list-style: none;
}

.accountInfo {
    display: flex;
    width: 100%;
}

.accountName {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.userName {
    margin-right: auto;
}

.accountInfoButtons {
    display: flex;
}

.searchBar {
    width: 100%;
    display: flex;
}

.searchBar form {
    margin-right: auto;
}

.notifications {
    display: flex;
}

.mainContentBody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-row: auto;
    gap: 1rem;
}

.card {
    background-image: linear-gradient(to right, #f0b429 0%, #f0b429 2%, white 2%, white 100%);
    border-radius: .6rem;
    padding: 2rem;
    -webkit-box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
}

.projects {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.sidebarContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announcements {
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    margin-right: 1rem;
    flex-grow: 0;
    margin-top: 1rem;
}

.trending {
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.announcementsContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.announcements > h1 {
    margin: 1rem 1rem 2rem 1rem;
}

.trendingContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.trending > h1 {
    margin: 1rem 1rem 2rem 1rem;
}

.cardTitle {
    font-size: 1.2rem;
}

.header {
    -webkit-box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
    box-shadow: 6px 7px 7px 0px rgba(0,0,0,0.2);
}

.card > p {
    color: #6d6d6d;
}

.announcementsContent p {
    color: #6d6d6d;
}

.trendingContent p {
    color: #6d6d6d;
}

.dashboardSvg {
    width: 4rem;
    height: auto;
 }

.navHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
    margin-bottom: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }

.navList1 > ul {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    row-gap: .7rem;
    margin: 2rem 2rem 3rem 2rem;
 }

.navList2 > ul {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    row-gap: .7rem;
    margin-left: 2rem;
    margin-right: 2rem;
 }

.card {
    font-family: 'Roboto', sans-serif;
 }

 .homeSvg {
    width: 2rem;
    height: auto;
 }

 .navList1Svgs {
    justify-self: end;
    margin-right: 1.5rem;
 }

 .navList2Svgs {
    justify-self: end;
    margin-right: 1.5rem;
 }

 .svgs {
    width: 1.7rem;
    height: auto;
 }

 .card > div {
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin-top: 2rem;
  }

  .card > div svg {
    height: auto;
    width: 2rem;
  }

  .card p {
    margin-top: .5rem;
  }