* {
    padding: 0%;
    margin: 0%;
}

html, body {
    height: 100%;
}

.dashboardContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    height: 100%;
}

.dashboard {
    background-color: #1992d4;
    grid-column: 1/2;
    grid-row: 1/4;
}

.header {
    grid-column: 2/4;
    grid-row: 1/2;
}

.mainContent {
    grid-column: 2/3;
    grid-row: 2/4;
    height: 100%;
}

.sidebar {
    grid-column: 3/4;
    grid-row: 2/4;
}

.navigation {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.navigation ul {
    list-style: none;
}

.accountInfo {
    display: flex;
    width: 100%;
}

.accountName {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.userName {
    margin-right: auto;
}

.accountInfoButtons {
    display: flex;
}

.searchBar {
    width: 100%;
    display: flex;
}

.searchBar form {
    margin-right: auto;
}

.notifications {
    display: flex;
}

.mainContentBody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.cardPlaceholder {
    background-color: aqua;
}